* {
  margin: 0;
}

.header {
  height: 655px;
  background-image: url(./images/Header.png);
  background-repeat: no-repeat;
}

.header__blocks {
  display: flex;
  flex-direction: row;

  gap: 190px;
}

.header__content {
  margin-left: 130px;

  display: flex;
  flex-direction: column;
}

.header__title,
.header__title2,
.header__paragraph,
.header__button-link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;

  color: #fff;
}

.header__title {
  margin: 24px 0 48px;

  font-size: 40px;
  line-height: 49px;
}

.header__title2 {
  margin-bottom: 24px;

  width: 586px;
  height: 118px;

  font-size: 48px;
  line-height: 59px;
}

.header__bold {
  font-weight: bold;
}

.header__paragraph {
  margin-bottom: 32px;

  width: 580px;
  height: 56px;

  font-size: 20px;
  line-height: 142%;
}

.header__button {
  display: flex;
  flex-direction: column;

  width: 154px;
  height: 56px;
  border-radius: 8px;

  background-color: #fff;
}

.header__button-link {
  padding: 17px 31px;

  font-size: 16px;
  line-height: 142%;

  color: #3a80ba;
  text-decoration: none;
}

.header__link {
  margin-top: 72px;
}

.header__img {
  background-image: url(./images/mobile.png);
  background-position: center top;
  background-repeat: no-repeat;

  width: 321px;
  height: 561px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__titles {
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;
}

.main__title,
.main__paragraph,
.main__block-title,
.main__block-paragraph {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.main__title {
  width: 530px;

  font-size: 32px;
  line-height: 39px;
  text-align: center;

  color: #1a1a1a;
}

.main__bold {
  font-weight: bold;
}

.main__paragraph {
  width: 780px;

  font-size: 20px;
  line-height: 142%;
  text-align: center;

  color: #7e7e7e;
}

.main__content {
  margin-top: 40px;

  display: flex;
  flex-direction: row;

  gap: 20px;
}

.main__block {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 380px;
  height: 323px;

  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 32px;
}

.main__img {
  margin-top: 48px;

  width: 106px;
  height: 96px;

  background-position: center;
  background-repeat: no-repeat;
}

.img1 {
  background-image: url(./images/Clean.png);
}

.img2 {
  background-image: url(./images/Secure.png);
}

.img3 {
  background-image: url(./images/Retina.png);
}

.main__block-title {
  margin-top: 40px;

  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #1a1a1a;
}

.main__block-paragraph {
  margin-top: 16px;

  width: 316px;
  font-size: 16px;
  line-height: 142%;
  text-align: center;

  color: #7e7e7e;
}

.footer {
  margin-top: 128px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(./images/Footer.png);
  background-repeat: no-repeat;
  height: 183px;
}

.footer__active,
.footer__field,
.footer__button,
.footer__title,
.footer__paragraph {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.footer__active {
  margin-top: 26px;

  text-align: center;
  font-size: 32px;
  line-height: 39px;
  color: #b9b9b9;

  width: 579px;
  height: 64px;
}

.footer__field {
  margin-top: 26px;
  padding-left: 19px;

  font-size: 16px;
  line-height: 162%;

  color: #b9b9b9;

  width: 579px;
  height: 64px;

  background: #fff;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer__field:focus-visible {
  outline: none;
}

.footer__button {
  position: absolute;
  top: 30px;
  right: 434px;

  text-align: center;
  font-size: 16px;
  line-height: 142%;
  color: #fff;

  width: 176px;
  height: 56px;

  background: #3a80ba;
  border-radius: 8px;
  border: none;
}

.footer__button:hover {
  cursor: pointer;
}

.footer__content {
  margin-top: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 350px;
}

.footer__title {
  font-size: 32px;
  line-height: 39px;
  color: #fff;
}

.footer__paragraph {
  font-size: 16px;
  line-height: 142%;
  color: #fff;
}
