.home {
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__main-titles {
    margin-top: 16px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    gap: 24px;
  }
  
  &__main-title,
  &__main-paragraph,
  &__main-block-title,
  &__main-block-paragraph {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
  }
  
  &__main-title {
    width: 530px;
  
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  
    color: #1a1a1a;
  }
  
  &__main-bold {
    font-weight: bold;
  }
  
  &__main-paragraph {
    width: 780px;
  
    font-size: 20px;
    line-height: 142%;
    text-align: center;
  
    color: #7e7e7e;
  }
  
  &__main-content {
    margin-top: 40px;
  
    display: flex;
    flex-direction: row;
  
    gap: 20px;
  }
  
  &__main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 380px;
    height: 323px;
  
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 32px;
  }
  
  &__main-img {
    margin-top: 48px;
  
    width: 106px;
    height: 96px;
  
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .img1 {
    background-image: url(./images/Clean.png);
  }
  
  .img2 {
    background-image: url(./images/Secure.png);
  }
  
  .img3 {
    background-image: url(./images/Retina.png);
  }
  
  &__main-block-title {
    margin-top: 40px;
  
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  
    color: #1a1a1a;
  }
  
  &__main-block-paragraph {
    margin-top: 16px;
  
    width: 316px;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
  
    color: #7e7e7e;
  }

  @media (max-width: 1235px) {
    &__main-content {
      flex-direction: column;
    }
  }

  @media (max-width: 800px) {
    &__main-paragraph {
      width: 480px;
    }
  }

  @media (max-width: 581px) {
    &__main-title {
      width: 330px;
    }

    &__main-paragraph {
      width: 230px;
    }
  }

  @media (max-width: 384px) {
    &__main-block {
      width: 260px;
      height: 190px;
    }

    .img1,
    .img2,
    .img3 {
      display: none;
    }

    &__main-block-paragraph {
      width: 216px;
      height: max-content;
    }

    &__main-title {
      width: min-content;
    }
  }
}
