.user {

  &__footer {
    margin-top: 24px;
    padding: 14px 0 14px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #1c3b55;
  }

  &__footer-block {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #fff;

    gap: 365px;
  }

  &__footer-title,
  &__footer-paragraph {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  &__footer-title {
    font-size: 24px;
    line-height: 29px;
  }

  &__footer-paragraph {
    font-size: 16px;
    line-height: 142%;
  }

  @media (max-width: 990px) {
    &__footer-block {
      gap: 200px;
    }
  }

  @media (max-width: 671px) {
    &__footer-block {
      gap: 100px;
    }
  }

  @media (max-width: 466px) {
    &__footer-block {
      gap: 40px;
    }

    &__footer-title {
      display: none;
    }
  }
}
